/*search color:#339AF0, #339AF0*/
* {
    margin:0;
    padding:0;
}
body{
    position:relative;
    display:flex;
    flex-direction: column;
    padding-top:230px;
    padding-bottom:450px;
    font-family:'Trebuchet MS';
    align-items: center;
    margin:0; 
}
a {
    text-decoration: none;
    color:inherit;
}
.curve {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    min-width: 1500px;
}

.curve svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 140px;
    transform: rotateY(180deg);
}

.curve svg path {
    fill: url(#gradient); /* Use the ID of your gradient */
 }

 .curve-bottom {
    position:absolute;
    bottom: 0;
    left: 0;
    right:0;
    overflow: hidden;
    line-height: 0;
    margin-top:auto;
}

.curve-bottom svg {
    position: relative;
    display: block;
    width: calc(279% + 1.3px);
    height: 160px;
    transform: rotateY(180deg);
}

.curve-bottom svg path {
    fill: url(#gradient); /* Use the ID of your gradient */
 }

.logo-box{
    display:flex;
    flex-direction:column;
    line-height:1;
    width:400px;
    height:70px;
    align-items: center;
    justify-content: center;
    transform: rotate(-5deg);
    margin-top:15px;
  }

.logo {
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:40px;
  margin-top:0px;
  margin-bottom:0px;
  color:rgb(255, 255, 255);
  box-sizing:initial;
}
.logo:hover{
    border-radius: 10px;
    padding-right:5px;
    padding-left:5px;
    border-style:outset;
    transition: 0.05s;
    border-top-width: 2px ;
    border-left-width: 4px ;
    border-right-width: 4px;
    border-bottom-width: 0px;
}
.logo:active{
    transition: 0.5s;
    color:#000000;
}
.slogan {
  font-family: "Ultra", serif;
  font-weight: 400;
  font-style: normal;
  font-size:19px;
  margin-top:0px;
  margin-bottom:0px;
  padding:1px;
  background-color:rgb(255, 255, 255);
  color:#3b8ce4;
  text-align:center;
  width:200px;
}

.slogan-box{
margin-left:150px;
}
.search-bar{
    width:0;
    max-width:600px;
    outline:none;/*set it later*/
    flex:1;
    border-top-style:solid;
    border-bottom-style:none;
    border-right-style:none;
    border-left-style:none;
    border-top-width:5px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;
    border-top-color:#3b8ce4;
    padding-top:14px;
    padding-bottom:14px;
    padding-left:30px;
    font-size:18px;
    font-family:Trebuchet MS, Arial;
    font-weight: 100;
    box-shadow:-2px 5px 5px -2px rgba(0,0,0,0.3);
}
.search-bar:placeholder-shown{
    font-family: "Protest Strike", sans-serif;
}
.middle-section button{
    border:none;
    background-color:white;
}
.search-icon{
    height:65px;
    margin-left:-8px;
    border-top-width:5px;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
    border-top-color:#3b8ce4;
    border-top-style:solid;
    box-shadow: 2px 5px 5px -2px rgba(0,0,0,0.3);
}
.middle-section button:hover{
    overflow: hidden;
    border-top-width:5px;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
    box-shadow: 0px 3px 4px 1px rgba(0,0,0,0.3);
}
.middle-section button:active{
    border-left:1px solid #3b8ce4;
}
.search-icon:hover{
    height:75px;
    margin-left:-8px;
    border-top-width:5px;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
    border-top-color:#3b8ce4;
    border-top-style:solid;
    box-shadow: 2px 5px 5px -2px rgba(0,0,0,0.3);
    transition:0.15s;
}
.top-section{
    display:flex;
    position:fixed;
    top:10px;
    left:0;
    right:0;
    height:125px;
    justify-content:space-between;
    z-index:5;
    background-color: white;
}
.left-section{
    height:120px;
    width:420px;
    display:flex;
    justify-content:left;
}
.middle-section{
    position:relative;
    display:flex;
    flex:1;
    max-width: 800px;
    z-index:1;
    height:70px;
    margin-top:50px;
    margin-left:0px;
}

.right-section{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:70px;
    width:200px;
    z-index:1;
    margin-right:100px;
}
.right-section div{
    display:flex;
    align-items: center;
    justify-content: center;
    width:50px;
}
.right-section img{
    height:30px;
}
.right-section div:hover img{
    height:35px;
    transition:0.15s;
}
.sub-top-section{
    display:flex;
    justify-content:center;
    align-items:center;
    position:fixed;
    top:135px;
    left:0;
    right:0;
    height:90px;
    background-color: white;
    z-index: 5;
    border-bottom-style:solid;
    border-bottom-color: #339AF0;
    border-bottom-width: 2px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: inset #339AF0 0px -5px 15px -8px;
}
.sub-top-section div{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    width:150px;
    height:90px;
    white-space:nowrap;
    border-right-style:solid;
    border-left-color: gray;
    border-right-color: gray;
    border-right-width: 1px;
    border-left-width: 1px;
    box-shadow: inset #ddd9d9 0px 10px 13px -8px, #ddd9d9 1px 0px 0px 0px, #ddd9d9 -1px 0px 0px 0px;
}
.sub-top-section .all-products-border{
    border:none;
}

.sub-top-section div:hover img{
    height:35px;
    transition:0.15s;
}
.sub-top-section div:hover{
    font-size:18px;
    color:#339AF0;
    transition:0.15s;
    cursor:pointer;
}
.sub-top-section div:active{
    border-right-style:none;
    outline:1px solid #339AF0;
    transition: outline 0.3s ease;
}
.sub-top-section img{
    height:30px;
    margin-bottom:15px;
}
.bottom-section{
    justify-content: center;
    position:absolute;
    bottom:0;
    right:0;
    left:0;
    height: 300px;
    display:flex;
    z-index:1;
   
}
.bottom-section p{
    font-size:18px;
    font-weight:bold;
    margin-bottom:10px;
    color:#339AF0;
}
.bottom-section div{
    display:flex;
    flex-direction: column;
    align-items: center;
    line-height:1.5;
    height: 200px;
    width:300px;
}